@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
*{
	font-family: 'Gulzar', serif;
}
.image{
	width: 600px;
}
.card{
	background-color: rgba(255, 255, 255, 0.319);
}
.about1{
	align-items: center;
	color: rgb(254, 10, 95);
	text-align: center;
}
.about0{
	background-color: rgba(255, 253, 253, 0.77);
	padding: 2%;
}
.tex {
    font-size: 683%;
    text-align: center;
    color: orange;
    margin-top: 6%;
}
.rout::before{
	margin-top: 30%;
	
	margin-left: 2%;
	color: orange;
	text-decoration: underline;	
	padding: 2%;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}


