@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

body {
  margin: 0;
  font-family: 'Gulzar', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://pbs.twimg.com/media/FW6w5ANXoAEGelo?format=jpg&name=large')
  
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Gulzar', serif;
}
